.container {
  margin: 50px 0;
  text-align: center;
}
.container h1 {
  color: #304ffe;
  margin-bottom: 20px; /* az matn payyen fasele begire */
}
.container p {
  color: gray;
}
.container a {
  text-decoration: none;
  color: #304ffe;
  border: 1px;
  background-color: #bbdefb;
  padding: 3px 5px; /* bala payyen 3 tarafeyn 5px*/
  border-radius: 5px;
  font-size: 20px;
  transition: 0.2s all ease ease-in-out;
}
.container a:hover {
  color: #bbdefb;
  background-color: #304ffe;
}
